@page
@model BBQHub.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin Übersicht";
}

<h1 class="text-2xl font-bold mb-4">Admin-Konsole</h1>

<ul class="list-disc ml-6">
    <li><a asp-page="/Admin/Juroren" class="text-orange-400 hover:underline">Juroren verwalten</a></li>
</ul>
